* {
  font-family: Roboto, sans-serif;
}
body {
  margin: 0px;
}

.container {
  display: block;
  max-width: 400px;
  margin: 0 auto;
  padding: 0 32px;
}

.container.address {
  margin: 60px auto;
}

h1 {
  margin-top: 40px;
  text-align: center;
  font-size: 32px;
  font-weight: 700px;
  margin-bottom: 60px;
}
p {
  font-size: 16px;
  margin-bottom: 16px;
  max-width: 400px;
}

h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 700px;
  margin: 32px 0;
  padding: 20px;
}

h3 {
  text-align: center;
}

.wrapper {
  margin-bottom: 32px;
}

.imagery{
    width: 100%;
    margin: 0 0 40px 0;
    padding: 24px;
    box-sizing: border-box;
    border: 3px solid #EEA841;
    max-width: 400px;
    max-height: 455px;

}

.image-caption{
    color: grey;
    font-style:italic;
    text-align: center;
    margin: 24px 0 8px 0;
}

.picture {
    width: 100%;
    max-width: 346px;
    max-height: 346px;


}
.grid-wrapper {
  display: block;

}

.address-item {
  font-size: 20px;
  font-weight: 600;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

.centered-list > li {
  text-align: center;
}

.centered-list {
  margin: 32px 0;
}

@media (min-width: 960px) {
    .grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
    }

    .container{
        max-width: 1000px;
    }
}
